.quiz {
  background: transparent;
  color: #002136;
  padding: 0.1px;
}
.sect-1 {
  background: hsl(182, 100%, 13%);
  color: #ffffef;
  height: 40vh;
  padding: 5px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
}
.q-sect {
  background-color: #ffffef;
  color: #002136;
  padding: 5px;
  top: 32%;
  position: relative;
  border-radius: 10px;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 15px;
  margin-top: 20px;
}
.sect-1 .q-count {
  margin: 6px 0;
}
.sect-1 .q-count h2 {
  color: #002136;
  font-size: 1.5rem;
  width: 20%;
  background: #ffffef;
  margin: auto;
  border: 2px solid #002136;
}
.grid .time {
  height: 70px;
  width: 70px;
  padding: 20px 10px;
  background-color: #ffffef;
  margin: auto;
  border-radius: 50%;
  border: 3px solid #002136;
  margin-top: -50px;
}
.grid .c-count {
  color: #00ff00;
  font-size: 1rem;
  display: flex;
  gap: 5px;
}
.c-count div {
  background-color: #00ff00;
  width: 30px;
  border-radius: 10px;
  height: 2vh;
}
.grid .w-count {
  display: flex;
  color: #ff0f0f;
  margin-left: 65px;
  font-size: 1rem;
  gap: 5px;
}
.w-count div {
  background-color: #ff0f0f;
  width: 30px;
  border-radius: 10px;
  height: 2vh;
}
.q-count span {
  font-size: 1.2rem;
}
.q-cont {
  margin: 20px 0;
}
.answer-sect {
  position: relative;
  margin-top: 100px;
  margin-bottom: 20px;
}
.options-cont {
  display: grid;
  grid-gap: 10px;
}
.options {
  width: 95%;
  margin: auto;
  padding: 15px 0;
  color: #002136;
  font-size: 1.2rem;
  border: 2px solid #004244;
  border-radius: 7px;
  background-color: #ffffef;
}
.options:hover {
  padding: 17px 0;
}
.correct {
  border: 2px solid #00ff00 !important;
}
.wrong {
  border: 2px solid #ff0f0f !important;
}
