.complete-quiz {
  height: 100vh;
  max-height: fit-content;
  background: #f1ca61;
  padding: 0.22px;
}
.btn-shot {
  background: #002136;
  color: #ffffef;
  border: none;
  font-size: 1rem;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  padding: 15px;
  border-radius: 10px;
  margin: 20px 0;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.share {
  margin-bottom:5px;
}
.share small {
  display: block;
  margin-bottom: 5px;
}
.btn-shot:hover {
  background: #ffffef;
  color: #002136;
  border: 2px solid #002136;
}
.stats-cont {
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  background: #002136;
  color: #ffffef;
  padding: 0.2px;
  margin-top: 45px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  text-transform: capitalize;
}
.stats-cont h1 {
  margin-top: 25px;
}
.stats-cont h1 span {
  color: #f1ca61;
}
.stats-cont h3 {
  margin: 20px 0;
}
.stats-cont h3 span {
  color: #f1ca61;
  font-size: 1.5rem;
}
.stats-cont p {
  margin: 20px 0;
}
.stats-cont p span {
  background: #f1ca61;
  color: #002136;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 0 10px;
}

.form {
  background-color: #ffffef;
  width: 90%;
  margin: auto;
  margin-top: 46px;
  border-radius: 15px;
  color: #002136;
  padding: 0.2px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.form p {
  margin: 60px 0;
  font-size: 1.2rem;
}
.form input {
  display: block;
  width: 80%;
  border: 2px solid #002136;
  padding: 15px 5px;
  margin: auto;
  border-radius: 20px;
  background: #ffffef;
}
.form button {
  background: #002136;
  color: #ffffef;
  border: none;
  margin: 50px 0;
  padding: 20px 65px;
  border-radius: 20px;
  font-size: 1.3rem;
  text-transform: uppercase;
}
.form button:hover {
  background: #ffffef;
  color: #002136;
  border: 2px solid #002136;
}
