.complete-quiz {
  height: 100vh;
  max-height: fit-content;
  background: #f1ca61;
}
.stats-cont {
  background: #002136;
  color: #ffffef;
  padding: 0.2px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  text-transform: capitalize;
}
.stats-cont h1 {
  margin-top: 50px;
}
.stats-cont h3 {
  margin: 30px 0;
}
.stats-cont h3 span {
  color: #f1ca61;
  font-size: 1.5rem;
}
.stats-cont p {
  margin: 20px 0;
}
.stats-cont p span {
  background: #f1ca61;
  color: #002136;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 0 10px;
}

.form {
  color: #002136;
  padding: 0.2px;
}
.form p {
  margin: 60px 0;
  font-size: 1.2rem;
}
.form input {
  display: block;
  width: 80%;
  border: 2px solid #002136;
  padding: 25px 5px;
  margin: auto;
  border-radius: 20px;
}
.form button {
  background: #002136;
  color: #ffffef;
  border: none;
  margin: 50px 0;
  padding: 20px 65px;
  border-radius: 20px;
  font-size: 1.3rem;
  text-transform: uppercase;
}
.form button:hover {
  background: #ffffef;
  color: #002136;
  border: 2px solid #002136;
}
